# PostgreSQL
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=dbname

# Redis
REDIS_PASSWORD=password

# RabbitMQ
RABBITMQ_USER=username
RABBITMQ_PASS=password
RABBITMQ_VHOST=/

# pgAdmin
PGADMIN_EMAIL=email@gmail.com
PGADMIN_PASSWORD=password